pear/package.dtd

<!--
     $Id: package.dtd,v 1.1 2000-07-25 00:55:36 ssb Exp $

     This is the PEAR package description, version 1.0.
     It should be used with the informal public identifier:

         "-//PHP Group//DTD PEAR Package 1.0//EN//XML"

     Using XML namespaces is optional, but the namespace that should
     be used for this DTD is:

         "http://xmlns.php.net/pear/package".

     Copyright (c) 1997, 1998, 1999, 2000 The PHP Group

     This source file is subject to version 2.02 of the PHP license,
     that is bundled with this package in the file LICENSE, and is
     available at through the world-wide-web at
     http://www.php.net/license/2_02.txt.
     If you did not receive a copy of the PHP license and are unable to
     obtain it through the world-wide-web, please send a note to
     license@php.net so we can mail you a copy immediately.

     Authors:
         Stig S. Bakken <ssb@fast.no>

  -->

<!--============== attributes present in all elements ======================-->
<!ENTITY % global.atts		"id		ID	#IMPLIED">

<!--============== attributes common to several elements ===================-->
<!ENTITY % extension.atts	"Debug		(on|off) 'off'
				 ThreadSafe	(on|off) 'off'">
<!ENTITY % format.atts		"Format		CDATA	#REQUIRED">

<!--=============== ELEMENT: Package =======================================-->
<!ELEMENT Package		(Name,Summary,Maintainer,Release,FileList)>
<!ATTLIST Package		%global.atts;
				Type		(Source|Binary) 'Binary'>

<!--=============== ELEMENT: Name ==========================================-->
<!ELEMENT Name			(#PCDATA)>
<!ATTLIST Name			%global.atts;>

<!--=============== ELEMENT: Summary =======================================-->
<!ELEMENT Summary		(#PCDATA)>
<!ATTLIST Summary		%global.atts;>

<!--=============== ELEMENT: Maintainer ====================================-->
<!ELEMENT Maintainer		(Initials,Name,Email)>
<!ATTLIST Maintainer		%global.atts;>

<!--=============== ELEMENT: Initials ======================================-->
<!ELEMENT Initials		(#PCDATA)>
<!ATTLIST Initials		%global.atts;>

<!--=============== ELEMENT: Email =========================================-->
<!ELEMENT Email			(#PCDATA)>
<!ATTLIST Email			%global.atts;>

<!--=============== ELEMENT: Release =======================================-->
<!ELEMENT Release		(Version,Date,Notes?)>
<!ATTLIST Release		%global.atts;>

<!--=============== ELEMENT: Version =======================================-->
<!ELEMENT Version		(#PCDATA)>
<!ATTLIST Version		%global.atts;>

<!--=============== ELEMENT: Date =========================================-->
<!ELEMENT Date			(#PCDATA)>
<!ATTLIST Date			%global.atts;>

<!--=============== ELEMENT: Notes =========================================-->
<!ELEMENT Notes			(#PCDATA)>
<!ATTLIST Notes			%global.atts;>

<!--=============== ELEMENT: FileList ======================================-->
<!ELEMENT FileList		(DestDir |
				 Dir     | File     |
				 ExtDir  | ExtFile  |
				 DocDir  | DocFile)*>
<!ATTLIST FileList		%global.atts;>

<!--=============== ELEMENT: DestDir =======================================-->
<!ELEMENT DestDir		(#PCDATA)>
<!ATTLIST DestDir		%global.atts;>

<!--=============== ELEMENT: Dir ===========================================-->
<!ELEMENT Dir			(#PCDATA)>
<!ATTLIST Dir			%global.atts;>

<!--=============== ELEMENT: File ==========================================-->
<!ELEMENT File			(#PCDATA)>
<!ATTLIST File			%global.atts;>

<!--=============== ELEMENT: ExtDir ========================================-->
<!ELEMENT ExtDir		(#PCDATA)>
<!ATTLIST ExtDir		%global.atts;>

<!--=============== ELEMENT: ExtFile =======================================-->
<!ELEMENT ExtFile		(#PCDATA)>
<!ATTLIST ExtFile		%global.atts;
				%extension.atts;>

<!--=============== ELEMENT: DocDir ========================================-->
<!ELEMENT DocDir		(#PCDATA)>
<!ATTLIST DocDir		%global.atts;>

<!--=============== ELEMENT: DocFile =======================================-->
<!ELEMENT DocFile		(#PCDATA)>
<!ATTLIST DocFile		%global.atts;
				%format.atts;>
