pear/package.dtd

<!--
     $Id: package.dtd,v 1.6.2.1 2001-08-28 11:40:56 ssb Exp $

     This is the PEAR package description, version 1.1b1.
     It should be used with the informal public identifier:

         "-//PHP Group//DTD PEAR Package 1.1b1//EN//XML"

     Copyright (c) 1997-2001 The PHP Group             

     This source file is subject to version 2.02 of the PHP license,
     that is bundled with this package in the file LICENSE, and is
     available at through the world-wide-web at
     http://www.php.net/license/2_02.txt.
     If you did not receive a copy of the PHP license and are unable to
     obtain it through the world-wide-web, please send a note to
     license@php.net so we can mail you a copy immediately.

     Authors:
         Stig S. Bakken <ssb@fast.no>

  -->
<!--============== attributes present in all elements ======================-->
<!ENTITY % global.atts "id		ID	#IMPLIED">
<!--============== attributes common to several elements ===================-->
<!ENTITY % role.atts "Role		(php|ext|test|doc) 'php'">
<!ENTITY % extension.atts "Debug	(on|off) 'off'
			   ThreadSafe	(on|off) 'off'">
<!ENTITY % format.atts "Format		CDATA	#IMPLIED">
<!--=============== ELEMENT: Package =======================================-->
<!ELEMENT package (name, summary, maintainer, release, filelist)>
<!ATTLIST package
	%global.atts; 
	type (source | binary | empty) "empty"
>
<!--=============== ELEMENT: name ==========================================-->
<!ELEMENT name (#PCDATA)>
<!ATTLIST name
	%global.atts; 
>
<!--=============== ELEMENT: summary =======================================-->
<!ELEMENT summary (#PCDATA)>
<!ATTLIST summary
	%global.atts; 
>
<!--=============== ELEMENT: maintainer ====================================-->
<!ELEMENT maintainer (initials, name, email)>
<!ATTLIST maintainer
	%global.atts; 
>
<!--=============== ELEMENT: initials ======================================-->
<!ELEMENT initials (#PCDATA)>
<!ATTLIST initials
	%global.atts; 
>
<!--=============== ELEMENT: email =========================================-->
<!ELEMENT email (#PCDATA)>
<!ATTLIST email
	%global.atts; 
>
<!--=============== ELEMENT: release =======================================-->
<!ELEMENT release (version, date, notes?)>
<!ATTLIST release
	%global.atts; 
>
<!--=============== ELEMENT: version =======================================-->
<!ELEMENT version (#PCDATA)>
<!ATTLIST version
	%global.atts; 
>
<!--=============== ELEMENT: date =========================================-->
<!ELEMENT date (#PCDATA)>
<!ATTLIST date
	%global.atts; 
>
<!--=============== ELEMENT: notes =========================================-->
<!ELEMENT notes (#PCDATA)>
<!ATTLIST notes
	%global.atts; 
>
<!--=============== ELEMENT: filelist ======================================-->
<!ELEMENT filelist (dir | file | libfile)*>
<!ATTLIST filelist
	%global.atts; 
>
<!--=============== ELEMENT: dir ===========================================-->
<!ELEMENT dir (#PCDATA)>
<!ATTLIST dir
        baseinstalldir CDATA #IMPLIED
	%global.atts; 
>
<!--=============== ELEMENT: file ==========================================-->
<!ELEMENT file (#PCDATA)>
<!ATTLIST file
	%global.atts; 
	%role.atts; 
	%extension.atts; 
	%format.atts; 
>
<!--=============== ELEMENT: libfile =======================================-->
<!ELEMENT libfile (libname,sources,includes?,libadd?)>
<!ATTLIST libfile
	%global.atts; 
	%role.atts; 
>
<!--=============== ELEMENT: libfile =======================================-->
<!ELEMENT libfile (libname,sources,includes?,libadd?)>
<!ATTLIST libfile
	%global.atts; 
	%role.atts; 
>
<!--=============== ELEMENT: libname =======================================-->
<!ELEMENT libname (#PCDATA)>
<!ATTLIST libname
	%global.atts; 
>
<!--=============== ELEMENT: sources =======================================-->
<!ELEMENT sources (#PCDATA)>
<!ATTLIST sources
	%global.atts; 
>
<!--=============== ELEMENT: libadd ========================================-->
<!ELEMENT libadd (#PCDATA)>
<!ATTLIST libadd
	%global.atts; 
>
