ext/soap/tests/interop/Round4/GroupG/round4_groupG_mimerpc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="SOAPBuilders" 
    xmlns="http://soapinterop.org/attachments/wsdl" 
    xmlns:types="http://soapinterop.org/attachments/xsd" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" 
    targetNamespace="http://soapinterop.org/attachments/wsdl">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soapinterop.org/attachments/xsd">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="ArrayOfBinary">
				<complexContent>
					<restriction base="soap-enc:Array">
						<attribute ref="soap-enc:arrayType" wsdl:arrayType="soap-enc:base64Binary[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="EchoAttachmentIn">
		<wsdl:part name="In" type="xsd:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="EchoAttachmentOut">
		<wsdl:part name="Out" type="xsd:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="EchoAttachmentsIn">
		<wsdl:part name="In" type="types:ArrayOfBinary"/>
	</wsdl:message>
	<wsdl:message name="EchoAttachmentsOut">
		<wsdl:part name="Out" type="types:ArrayOfBinary"/>
	</wsdl:message>
	<wsdl:message name="EchoAttachmentAsBase64In">
		<wsdl:part name="In" type="xsd:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="EchoAttachmentAsBase64Out">
		<wsdl:part name="Out" type="xsd:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="EchoBase64AsAttachmentIn">
		<wsdl:part name="In" type="xsd:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="EchoBase64AsAttachmentOut">
		<wsdl:part name="Out" type="xsd:base64Binary"/>
	</wsdl:message>
	<wsdl:portType name="AttachmentsPortType">
		<wsdl:operation name="EchoAttachment">
			<wsdl:input name="EchoAttachmentInput" message="EchoAttachmentIn"/>
			<wsdl:output name="EchoAttachmentOutput" message="EchoAttachmentOut"/>
		</wsdl:operation>
		<wsdl:operation name="EchoAttachments">
			<wsdl:input name="EchoAttachmentsInput" message="EchoAttachmentsIn"/>
			<wsdl:output name="EchoAttachmentsOutput" message="EchoAttachmentsOut"/>
		</wsdl:operation>
		<wsdl:operation name="EchoAttachmentAsBase64">
			<wsdl:input name="EchoAttachmentAsBase64Input" message="EchoAttachmentAsBase64In"/>
			<wsdl:output name="EchoAttachmentAsBase64Output" message="EchoAttachmentAsBase64Out"/>
		</wsdl:operation>
		<wsdl:operation name="EchoBase64AsAttachment">
			<wsdl:input name="EchoBase64AsAttachmentInput" message="EchoBase64AsAttachmentIn"/>
			<wsdl:output name="EchoBase64AsAttachmentOutput" message="EchoBase64AsAttachmentOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AttachmentsBinding" type="AttachmentsPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="EchoAttachment">
			<soap:operation soapAction="http://soapinterop.org/attachments/"/>
			<wsdl:input name="EchoAttachmentInput">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" namespace="http://soapinterop.org/attachments/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
					</mime:part>
					<mime:part>
						<mime:content part="In" type="application/octetstream"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:input>
			<wsdl:output name="EchoAttachmentOutput">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" namespace="http://soapinterop.org/attachments/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
					</mime:part>
					<mime:part>
						<mime:content part="Out" type="application/octetstream"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EchoAttachments">
			<soap:operation soapAction="http://soapinterop.org/attachments/"/>
			<wsdl:input name="EchoAttachmentsInput">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" namespace="http://soapinterop.org/attachments/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
					</mime:part>
					<mime:part>
						<mime:content part="In" type="application/octetstream"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:input>
			<wsdl:output name="EchoAttachmentsOutput">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" namespace="http://soapinterop.org/attachments/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
					</mime:part>
					<mime:part>
						<mime:content part="Out" type="application/octetstream"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EchoAttachmentAsBase64">
			<soap:operation soapAction="http://soapinterop.org/attachments/"/>
			<wsdl:input name="EchoAttachmentAsBase64Input">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" namespace="http://soapinterop.org/attachments/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
					</mime:part>
					<mime:part>
						<mime:content part="In" type="application/octetstream"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:input>
			<wsdl:output name="EchoAttachmentAsBase64Output">
				<soap:body use="encoded" namespace="http://soapinterop.org/attachments/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EchoBase64AsAttachment">
			<soap:operation soapAction="http://soapinterop.org/attachments/"/>
			<wsdl:input name="EchoBase64AsAttachmentInput">
				<soap:body use="encoded" namespace="http://soapinterop.org/attachments/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:input>
			<wsdl:output name="EchoBase64AsAttachmentOutput">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" namespace="http://soapinterop.org/attachments/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
					</mime:part>
					<mime:part>
						<mime:content part="Out" type="application/octetstream"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
  <wsdl:service name="Round4MIMERPC">
    <wsdl:port name="Round4MIMERPCTestSoap" binding="AttachmentsBinding">
      <soap:address location="test://" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
