ext/soap/tests/interop/Round3/GroupD/imported/import2B.xsd

<?xml version="1.0"?>
<schema targetNamespace='http://soapinterop.org/xsd'
      xmlns='http://www.w3.org/2001/XMLSchema'      
      elementFormDefault='unqualified'>
      <complexType name="SOAPStruct">
        <all>
          <element name="varString" type="string" />
          <element name="varInt" type="int" /> 
          <element name="varFloat" type="float" /> 
        </all>
      </complexType>
</schema>