ext/soap/tests/interop/Round3/GroupD/round3_groupD_rpcenc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSDLInteropTestRpcEncService" 
    targetNamespace="http://soapinterop.org/WSDLInteropTestRpcEnc" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://soapinterop.org/WSDLInteropTestRpcEnc" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd1="http://soapinterop.org/xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <types>
        <schema targetNamespace="http://soapinterop.org/xsd" 
            xmlns="http://www.w3.org/2001/XMLSchema" 
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified">
            <import namespace = "http://schemas.xmlsoap.org/soap/encoding/"/>          
            <complexType name="ArrayOfstring">
                <complexContent>
                    <restriction base="SOAP-ENC:Array">
                        <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="SOAPStruct">
                <all>
                    <element name="varFloat" type="xsd:float"/>
                    <element name="varInt" type="xsd:int"/>
                    <element name="varString" type="xsd:string"/>
                </all>
            </complexType>           
        </schema>
    </types>

    <message name="echoString">
        <part name="param0" type="xsd:string"/>
    </message>
    <message name="echoStringResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="echoStringArray">
        <part name="param0" type="xsd1:ArrayOfstring"/>
    </message>
    <message name="echoStringArrayResponse">
        <part name="return" type="xsd1:ArrayOfstring"/>
    </message>
    <message name="echoStruct">
        <part name="param0" type="xsd1:SOAPStruct"/>
    </message>
    <message name="echoStructResponse">
        <part name="return" type="xsd1:SOAPStruct"/>
    </message>
    <message name="echoVoid"/>
    <message name="echoVoidResponse"/>
    <portType name="WSDLInteropTestRpcEncPortType">
        <operation name="echoString">
            <input message="tns:echoString" name="echoString"/>
            <output message="tns:echoStringResponse" name="echoStringResponse"/>
        </operation>
        <operation name="echoStringArray">
            <input message="tns:echoStringArray" name="echoStringArray"/>
            <output message="tns:echoStringArrayResponse" name="echoStringArrayResponse"/>
        </operation>
        <operation name="echoStruct">
            <input message="tns:echoStruct" name="echoStruct"/>
            <output message="tns:echoStructResponse" name="echoStructResponse"/>
        </operation>
        <operation name="echoVoid">
            <input message="tns:echoVoid" name="echoVoid"/>
            <output message="tns:echoVoidResponse" name="echoVoidResponse"/>
        </operation>
    </portType>
    <binding name="WSDLInteropTestRpcEncPortBinding" 
        type="tns:WSDLInteropTestRpcEncPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoString">
            <soap:operation soapAction="" style="rpc"/>
            <input name="echoString">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/WSDLInteropTestRpcEnc" use="encoded"/>
            </input>
            <output name="echoStringResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/WSDLInteropTestRpcEnc" use="encoded"/>
            </output>
        </operation>
        <operation name="echoStringArray">
            <soap:operation soapAction="" style="rpc"/>
            <input name="echoStringArray">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/WSDLInteropTestRpcEnc" use="encoded"/>
            </input>
            <output name="echoStringArrayResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/WSDLInteropTestRpcEnc" use="encoded"/>
            </output>
        </operation>
        <operation name="echoStruct">
            <soap:operation soapAction="" style="rpc"/>
            <input name="echoStruct">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/WSDLInteropTestRpcEnc" use="encoded"/>
            </input>
            <output name="echoStructResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/WSDLInteropTestRpcEnc" use="encoded"/>
            </output>
        </operation>        
        <operation name="echoVoid">
            <soap:operation soapAction="" style="rpc"/>
            <input name="echoVoid">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/WSDLInteropTestRpcEnc" use="encoded"/>
            </input>
            <output name="echoVoidResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://soapinterop.org/WSDLInteropTestRpcEnc" use="encoded"/>
            </output>
        </operation>
    </binding>
    <service name="WSDLInteropTestRpcEncService">
        <port binding="tns:WSDLInteropTestRpcEncPortBinding" 
            name="WSDLInteropTestRpcEncPort">
            <soap:address 
                location="round3_groupD_rpcenc.inc"/>
		</port>
	</service>
</definitions>
