ext/soap/tests/bugs/bug37083.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:java:de.pangaea.metadataportal.search.SearchService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:java:de.pangaea.metadataportal.search.SearchService" xmlns:intf="urn:java:de.pangaea.metadataportal.search.SearchService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="urn:java:de.pangaea.metadataportal.search.SearchService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SearchRequestRange">
    <sequence>
     <element name="field" nillable="true" type="xsd:string"/>
     <element name="max" nillable="true" type="xsd:anyType"/>
     <element name="min" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSearchRequestRange">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SearchRequestRange[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SearchRequest">
    <sequence>
     <element name="index" nillable="true" type="xsd:string"/>
     <element name="queryString" nillable="true" type="xsd:string"/>
     <element name="ranges" nillable="true" type="impl:ArrayOfSearchRequestRange"/>
    </sequence>
   </complexType>
   <complexType name="SearchResponseItem">
    <sequence>
     <element name="fields" nillable="true" type="apachesoap:Map"/>
     <element name="identifier" nillable="true" type="xsd:string"/>
     <element name="score" type="xsd:float"/>
     <element name="xml" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSearchResponseItem">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SearchResponseItem[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SearchResponse">
    <sequence>
     <element name="offset" type="xsd:int"/>
     <element name="queryTime" type="xsd:long"/>
     <element name="results" nillable="true" type="impl:ArrayOfSearchResponseItem"/>
     <element name="totalCount" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:java:de.pangaea.metadataportal.search.SearchService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>
   <wsdl:message name="searchRequest">
      <wsdl:part name="in0" type="impl:SearchRequest"/>
      <wsdl:part name="in1" type="xsd:int"/>
      <wsdl:part name="in2" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="searchResponse">
      <wsdl:part name="searchReturn" type="impl:SearchResponse"/>
   </wsdl:message>
   <wsdl:portType name="SearchServiceAxisImpl">
      <wsdl:operation name="search" parameterOrder="in0 in1 in2">
         <wsdl:input message="impl:searchRequest" name="searchRequest"/>
         <wsdl:output message="impl:searchResponse" name="searchResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SearchSoapBinding" type="impl:SearchServiceAxisImpl">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="search">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="searchRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:java:de.pangaea.metadataportal.search.SearchService" use="encoded"/>
         </wsdl:input>
         <wsdl:output name="searchResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:java:de.pangaea.metadataportal.search.SearchService" use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SearchServiceAxisImplService">
      <wsdl:port binding="impl:SearchSoapBinding" name="Search">
         <wsdlsoap:address location="test://"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
