ext/soap/tests/bugs/bug38536.wsdl

<?xml version="1.0" encoding="iso-8859-1"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
					xmlns:xs="http://www.w3.org/2001/XMLSchema" 
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 					
					xmlns:enturma="http://www.grupos.com.br/ws/enturmaServices" 
					xmlns:clientTypes="http://www.grupos.com.br/ws/enturma/client"
					targetNamespace="http://www.grupos.com.br/ws/enturmaServices"
					elementFormDefault="qualified" 
					attributeFormDefault="qualified">
	<types>
		<schema  xmlns="http://www.w3.org/2001/XMLSchema" 
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				xmlns:enc="http://schemas.xmlsoap.org/soap/encoding/" 
				targetNamespace="http://www.grupos.com.br/ws/enturma/client">				
			<complexType name="ClientType">
				<sequence>
					<element name="id" type="int"/>
					<element name="address" type="clientTypes:ClientAddressType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="ClientAddressType">
				<sequence>
					<element name="idClient" type="int"/>
					<element name="address" type="string" minOccurs="0"/>
				</sequence>
			</complexType>
		</schema>	
	</types>
	<message name="testMessage" />	
	<message name="testResponse">
		<part name="domain" type="clientTypes:ClientType"/>
	</message>

	<portType name="SessionImpl">
		<operation name="test">
			<input message="enturma:testMessage" />
			<output message="enturma:testResponse" />
		</operation>
	</portType>
	<binding name="SessionBind" type="enturma:SessionImpl">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="test">
			<soap:operation soapAction="test://"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="test://"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="test://"/>
			</output>
		</operation>
	</binding>
	<service name="Session">
		<port name="SessionImpl" binding="enturma:SessionBind">
			<soap:address location="test://"/>
		</port>
	</service>
</definitions>
