ext/soap/tests/bugs/bug30106.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/PRWebServ/getOtherInformation" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/PRWebServ/getOtherInformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/PRWebServ/getOtherInformation">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="getContinentList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AFFILIATE_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getContinentListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getContinentListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getContinentListSoapIn">
    <wsdl:part name="parameters" element="tns:getContinentList" />
  </wsdl:message>
  <wsdl:message name="getContinentListSoapOut">
    <wsdl:part name="parameters" element="tns:getContinentListResponse" />
  </wsdl:message>
  <wsdl:portType name="getOtherInformationSoap">
    <wsdl:operation name="getContinentList">
      <wsdl:input message="tns:getContinentListSoapIn" />
      <wsdl:output message="tns:getContinentListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getOtherInformationSoap" type="tns:getOtherInformationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="getContinentList">
      <soap:operation soapAction="http://tempuri.org/PRWebServ/getOtherInformation/getContinentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getOtherInformation">
    <wsdl:port name="getOtherInformationSoap" binding="tns:getOtherInformationSoap">
      <soap:address location="http://www.precisionreservations.com/PRWebServ/getOtherInformation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>