ext/soap/tests/bugs/bug42326.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="OSCAdmin.wsdl"
targetNamespace="http://www.example.com/"
xmlns:tns="http://www.example.com/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>

       <xsd:schema targetNamespace="http://www.example.com/"
              xmlns="http://www.w3.org/2000/10/XMLSchema">
              <xsd:element name="productDetailsType">
              <xsd:complexType>
              <xsd:all>
              <xsd:element name="id" type="xsd:integer"/>

              </xsd:all>
              </xsd:complexType>
              </xsd:element>
       </xsd:schema>


       <xsd:schema targetNamespace="http://www.example.com/"
              xmlns="http://www.w3.org/2000/10/XMLSchema">
              <xsd:element name="GetProductsRequest">
              <xsd:complexType>
              <xsd:all>
              <xsd:element name="time" type="xsd:string"/>
              </xsd:all>
              </xsd:complexType>
              </xsd:element>
       </xsd:schema>

       <xsd:schema targetNamespace="http://www.example.com/"
              xmlns="http://www.w3.org/2000/10/XMLSchema">
              <xsd:element name="GetProductsResponse">
              <xsd:complexType>
              <xsd:all>
              <xsd:element name="products" type="tns:productDetailsType"/>
              </xsd:all>
              </xsd:complexType>
              </xsd:element>
       </xsd:schema>


    </wsdl:types>

    <wsdl:message name="GetProductsRequest">
        <wsdl:part name="in" element="tns:GetProductsRequest"/>
    </wsdl:message>

    <wsdl:message name="GetProductsResponse">
        <wsdl:part name="out" element="tns:GetProductsResponse"/>
    </wsdl:message>

    <wsdl:portType name="OSCAdminPortType">
        <wsdl:operation name="GetProducts">
           <wsdl:input message="tns:GetProductsRequest"/>
           <wsdl:output message="tns:GetProductsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OSCAdminSoapBinding" type="tns:OSCAdminPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetProducts">
           <soap:operation soapAction=""/>
           <wsdl:input name="in">
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="out">
               <soap:body use="literal"/>
           </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OSCAdminService">
        <wsdl:port name="OSCAdminPort" binding="tns:OSCAdminSoapBinding">
           <soap:address location="test://"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
