ext/soap/tests/bugs/bug41004.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:Formation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Formation"
	targetNamespace="urn:Formation">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:Formation">
			<xsd:element name="echo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="tns:EchoBean"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="echoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="tns:EchoBean"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="Product1Type">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="REV"></xsd:enumeration>
					<xsd:enumeration value="CLA"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="EchoBean">
				<xsd:sequence>
					<xsd:element name="mandatoryElement"
						type="tns:Product1Type">
					</xsd:element>
					<xsd:element name="optionalElement"
						type="tns:Product1Type" maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="echoRequest">
		<wsdl:part name="parameters" element="tns:echo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="echoResponse">
		<wsdl:part name="parameters" element="tns:echoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Formation">
		<wsdl:operation name="echo">
			<wsdl:input message="tns:echoRequest"></wsdl:input>
			<wsdl:output message="tns:echoResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FormationServiceV1" type="tns:Formation">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="echo">
			<soap:operation soapAction="urn:Formation/echo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Formation">
		<wsdl:port binding="tns:FormationServiceV1"
			name="FormationSOAP">
			<soap:address
				location="http://localhost:8080/webapp/services/FormationServiceV1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
