ext/soap/tests/bugs/bug42086.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="LBAService" targetNamespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" xmlns:typens="http://xml.avaya.com/ws/device-management/distributed-enterprise" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.avaya.com/ws/device-management/distributed-enterprise">
			<xsd:complexType name="firstFunctionClassParam">
				<xsd:all>
					<xsd:element name="param" type="xsd:string"/>
					<xsd:element name="vectparam" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="firstFunctionClassParamResponse">
				<xsd:all>
					<xsd:element name="param" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="firstFunctionWithoutParamResponse">
				<xsd:all>
					<xsd:element name="param" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="secondFunctionClassParam">
				<xsd:all>
					<xsd:element name="param" type="xsd:string"/>
					<xsd:element name="vectparam" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="secondFunctionClassParamResponse">
				<xsd:all>
					<xsd:element name="param" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="secondFunctionWithoutParamResponse">
				<xsd:all>
					<xsd:element name="param" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="firstFunctionClassParam">
		<part name="firstFunctionClassParam" type="typens:firstFunctionClassParam"/>
	</message>
	<message name="firstFunctionClassParamResponse">
		<part name="firstFunctionClassParamReturn" type="typens:firstFunctionClassParamResponse"/>
	</message>
	<message name="firstFunctionWithoutParam"/>
<!--
	<message name="firstFunctionWithoutParam">
		<part name="firstFunctionWithoutParam"/>
	</message>
-->
	<message name="firstFunctionWithoutParamResponse">
		<part name="firstFunctionWithoutParamReturn" type="typens:firstFunctionWithoutParamResponse"/>
	</message>
	<message name="secondFunctionClassParam">
		<part name="secondFunctionClassParam" type="typens:secondFunctionClassParam"/>
	</message>
	<message name="secondFunctionClassParamResponse">
		<part name="secondFunctionClassParamReturn" type="typens:secondFunctionClassParamResponse"/>
	</message>
	<message name="secondFunctionWithoutParam"/>
	<message name="secondFunctionWithoutParamResponse">
		<part name="secondFunctionWithoutParamReturn" type="typens:secondFunctionWithoutParamResponse"/>
	</message>
	<portType name="wsImpPortType">
		<operation name="firstFunctionClassParam">
			<documentation>
				Enter description here...
			</documentation>
			<input message="typens:firstFunctionClassParam"/>
			<output message="typens:firstFunctionClassParamResponse"/>
		</operation>
		<operation name="firstFunctionWithoutParam">
			<documentation>
				Enter description here...
			</documentation>
			<input message="typens:firstFunctionWithoutParam"/>
			<output message="typens:firstFunctionWithoutParamResponse"/>
		</operation>
		<operation name="secondFunctionClassParam">
			<documentation>
				Enter description here...
			</documentation>
			<input message="typens:secondFunctionClassParam"/>
			<output message="typens:secondFunctionClassParamResponse"/>
		</operation>
		<operation name="secondFunctionWithoutParam">
			<documentation>
				Enter description here...
			</documentation>
			<input message="typens:secondFunctionWithoutParam"/>
			<output message="typens:secondFunctionWithoutParamResponse"/>
		</operation>
	</portType>
	<binding name="wsImpBinding" type="typens:wsImpPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="firstFunctionClassParam">
			<soap:operation soapAction="urn:wsImpAction"/>
			<input>
				<soap:body namespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" use="literal"/>
			</output>
		</operation>
		<operation name="firstFunctionWithoutParam">
			<soap:operation soapAction="urn:wsImpAction"/>
			<input>
				<soap:body namespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" use="literal"/>
			</output>
		</operation>
		<operation name="secondFunctionClassParam">
			<soap:operation soapAction="urn:wsImpAction"/>
			<input>
				<soap:body namespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" use="literal"/>
			</output>
		</operation>
		<operation name="secondFunctionWithoutParam">
			<soap:operation soapAction="urn:wsImpAction"/>
			<input>
				<soap:body namespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://xml.avaya.com/ws/device-management/distributed-enterprise" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="LBAService">
		<port name="wsImpPort" binding="typens:wsImpBinding">
			<soap:address location="test://"/>
		</port>
	</service>
</definitions>
