ext/soap/tests/bugs/bug42359.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="listTest" targetNamespace="urn:listTest" xmlns:typens="urn:listTest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:listTest">
      <xsd:simpleType name="listItem">
          <xsd:list>
              <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="test1" />
              <xsd:enumeration value="test2" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:list>
      </xsd:simpleType>
      <xsd:simpleType name="enumItem">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="test1" />
          <xsd:enumeration value="test2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="listItem2">
        <xsd:list itemType="typens:enumItem"/>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="testRequest">
    <part name="item" type="typens:listItem"/>
  </message>
  <message name="testRequestResponse">
    <part name="testRequestReturn" type="xsd:integer"/>
  </message>
  <portType name="listTestPortType">
    <operation name="testRequest">
      <documentation>
        Test request
      </documentation>
      <input message="typens:testRequest"/>
      <output message="typens:testRequestResponse"/>
    </operation>
  </portType>
  <binding name="listTestBinding" type="typens:listTestPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="testRequest">
      <soap:operation soapAction="urn:listTestAction"/>
      <input>
        <soap:body namespace="urn:listTest" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:listTest" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="listTestService">
    <port name="listTestPort" binding="typens:listTestBinding">
      <soap:address location="http://test/service"/>
    </port>
  </service>
</definitions>
