ext/soap/tests/interop/Round4/GroupH/round4_groupH_complex_rpcenc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://soapinterop.org/wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns2="http://soapinterop.org/types"
	targetNamespace="http://soapinterop.org/wsdl">

	<types>
		<schema elementFormDefault="qualified"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://soapinterop.org/types"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			targetNamespace="http://soapinterop.org/types">

			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

			<complexType name="SOAPStruct">
				<sequence>
					<element name="varString" type="xsd:string"/>
					<element name="varInt" type="xsd:int"/>
					<element name="varFloat" type="xsd:float"/>
				</sequence>
			</complexType>

			<complexType name="SOAPStructFault">
				<sequence>
					<element name="soapStruct" type="tns:SOAPStruct"/>
				</sequence>
			</complexType>

			<complexType name="BaseStruct">
				<sequence>
					<element name="floatMessage" type="xsd:float"/>
					<element name="shortMessage" type="xsd:short"/>
				</sequence>
			</complexType>

			<complexType name="ExtendedStruct">
				<complexContent>
					<extension base="tns:BaseStruct">
						<sequence>
							<element name="stringMessage" type="xsd:string"/>
							<element name="intMessage" type="xsd:int"/>
							<element name="anotherIntMessage" type="xsd:int"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>

			<complexType name="MoreExtendedStruct">
				<complexContent>
					<extension base="tns:ExtendedStruct">
						<sequence>
							<element name="booleanMessage" type="xsd:boolean"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>

		</schema>
	</types>

	<message name="echoFaultResponse"/>
	<message name="echoSOAPStructFaultRequest">
		<part name="param" type="ns2:SOAPStructFault"/>
	</message>
	<message name="echoBaseStructFaultRequest">
		<part name="param" type="ns2:BaseStruct"/>
	</message>
	<message name="echoExtendedStructFaultRequest">
		<part name="param" type="ns2:ExtendedStruct"/>
	</message>
	<message name="echoMultipleFaults1Request">
		<part name="whichFault" type="xsd:int"/>
		<part name="param1" type="ns2:SOAPStruct"/>
		<part name="param2" type="ns2:BaseStruct"/>
	</message>
	<message name="echoMultipleFaults2Request">
		<part name="whichFault" type="xsd:int"/>
		<part name="param1" type="ns2:BaseStruct"/>
		<part name="param2" type="ns2:ExtendedStruct"/>
		<part name="param3" type="ns2:MoreExtendedStruct"/>
	</message>

	<!-- Fault messages -->
	<message name="SOAPStructFault">
		<part name="part1" type="ns2:SOAPStructFault"/>
	</message>
	<message name="BaseStructFault">
		<part name="part2" type="ns2:BaseStruct"/>
	</message>
	<message name="ExtendedStructFault">
		<part name="part3" type="ns2:ExtendedStruct"/>
	</message>
	<message name="MoreExtendedStructFault">
		<part name="part4" type="ns2:MoreExtendedStruct"/>
	</message>

	<portType name="ComplexRpcEncPortType">
		<!--
			Throws a fault with an embedded SOAPStruct
		-->
		<operation name="echoSOAPStructFault" parameterOrder="param">
			<input message="tns:echoSOAPStructFaultRequest"/>
			<output message="tns:echoFaultResponse"/>
			<fault name="ComplexFault" message="tns:SOAPStructFault"/>
		</operation>

		<!--
			Throws a fault with a base complex struct
		-->
		<operation name="echoBaseStructFault" parameterOrder="param">
			<input message="tns:echoBaseStructFaultRequest"/>
			<output message="tns:echoFaultResponse"/>
			<fault name="ComplexFault" message="tns:BaseStructFault"/>
		</operation>

		<!--
			Throws a fault with an en extended complex type
		-->
		<operation name="echoExtendedStructFault" parameterOrder="param">
			<input message="tns:echoExtendedStructFaultRequest"/>
			<output message="tns:echoFaultResponse"/>
			<fault name="ComplexFault" message="tns:ExtendedStructFault"/>
		</operation>

		<!--
			Throws a fault with embedded complex type and fault with
			another complex type
		-->
		<operation name="echoMultipleFaults1" parameterOrder="whichFault param1 param2">
			<input message="tns:echoMultipleFaults1Request"/>
			<output message="tns:echoFaultResponse"/>
			<fault name="ComplexFault1" message="tns:SOAPStructFault"/>
			<fault name="ComplexFault2" message="tns:BaseStructFault"/>
		</operation>

		<!--
			Throws a fault with base complex type, fault with an extended
			complex type and a fault with doubly extended complex type
		-->
		<operation name="echoMultipleFaults2" parameterOrder="whichFault param1 param2 param3">
			<input message="tns:echoMultipleFaults2Request"/>
			<output message="tns:echoFaultResponse"/>
			<fault name="ComplexFault1" message="tns:BaseStructFault"/>
			<fault name="ComplexFault2" message="tns:ExtendedStructFault"/>
			<fault name="ComplexFault3" message="tns:MoreExtendedStructFault"/>
		</operation>
	</portType>

	<binding name="ComplexRpcEncBinding" type="tns:ComplexRpcEncPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="echoSOAPStructFault">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</output>
			<fault name="ComplexFault">
				<soap:fault
					name="ComplexFault"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</fault>
			<soap:operation soapAction=""/>
		</operation>

		<operation name="echoBaseStructFault">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</output>
			<fault name="ComplexFault">
				<soap:fault
					name="ComplexFault"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</fault>
			<soap:operation soapAction=""/>
		</operation>

		<operation name="echoExtendedStructFault">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</output>
			<fault name="ComplexFault">
				<soap:fault
					name="ComplexFault"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</fault>
			<soap:operation soapAction=""/>
		</operation>

		<operation name="echoMultipleFaults1">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</output>
			<fault name="ComplexFault1">
				<soap:fault
					name="ComplexFault1"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</fault>
			<fault name="ComplexFault2">
				<soap:fault
					name="ComplexFault2"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</fault>
			<soap:operation soapAction=""/>
		</operation>

		<operation name="echoMultipleFaults2">
			<input>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</input>
			<output>
				<soap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</output>
			<fault name="ComplexFault1">
				<soap:fault
					name="ComplexFault1"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</fault>
			<fault name="ComplexFault2">
				<soap:fault
					name="ComplexFault2"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</fault>
			<fault name="ComplexFault3">
				<soap:fault
					name="ComplexFault3"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded"
					namespace="http://soapinterop.org/wsdl"/>
			</fault>
			<soap:operation soapAction=""/>
		</operation>
	</binding>

	<service name="ComplexRpcEncService">
		<port name="ComplexRpcEncPort" binding="tns:ComplexRpcEncBinding">
			<soap:address
				location="test://"/>
		</port>
	</service>
</definitions>

