ext/dom/tests/book.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="books">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="book" minOccurs="1" maxOccurs="unbounded">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="title" type="xs:string"/>
       <xs:element name="author" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="is-hardback" type="xs:boolean" default="false" use="optional" />
     </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>
