ext/soap/tests/bug77410.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="urn:test"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:test="urn:test"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <portType name="TestPortType">
      <operation name="MyMethod">
         <input message="test:MyMethodRequestMessage" />
         <output message="test:MyMethodResponseMessage" />
      </operation>
   </portType>

   <binding name="TestBinding" type="test:TestPortType">
      <operation name="MyMethod">
         <input><soap:body use="literal" /></input>
         <output><soap:body use="literal" /></output>
      </operation>
   </binding>

   <message name="MyMethodRequestMessage">
      <part name="parameters" element="test:MyMethodRequest" />
   </message>

   <message name="MyMethodResponseMessage">
      <part name="parameters" element="test:MyMethodResponse" />
   </message>

   <types>
      <schema targetNamespace="urn:test" xmlns="http://www.w3.org/2001/XMLSchema">

         <element name="MyMethodRequest">
            <complexType>
               <sequence>
                  <element name="parameter" type="test:MyMethodRequestObject" />
               </sequence>
            </complexType>
         </element>

         <element name="MyMethodResponse" />

         <complexType name="MyMethodRequestObject">
            <complexContent>
               <extension base="test:DynamicData" />
            </complexContent>
         </complexType>

         <complexType name="DynamicData" />

      </schema>
   </types>

   <service name="TestService">
      <port binding="test:TestBinding" name="TestPort">
         <soap:address location="http://localhost:8080/test-service" />
      </port>
   </service>

</definitions>
