ext/soap/tests/classmap003.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="ab" targetNamespace="urn:ab" xmlns:typens="urn:ab" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ab">
			<xsd:complexType name="A">
				<xsd:sequence>
					<xsd:element name="x" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="B">
				<xsd:complexContent>
                    <xsd:extension base="typens:A">
                        <xsd:sequence>
					       <xsd:element name="y" type="xsd:anyType"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="f"/>
	<message name="fResponse">
		<part name="fReturn" type="typens:A"/>
	</message>
	<portType name="abServerPortType">
		<operation name="f">
			<input message="typens:f"/>
			<output message="typens:fResponse"/>
		</operation>
	</portType>
	<binding name="abServerBinding" type="typens:abServerPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="f">
			<soap:operation soapAction="urn:abServerAction"/>
			<input>
				<soap:body namespace="urn:ab" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:ab" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="abService">
		<port name="abServerPort" binding="typens:abServerBinding">
			<soap:address location="http://localhost/abServer.php"/>
		</port>
	</service>
</definitions>
