ext/soap/tests/server030.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:si="http://soapinterop.org/xsd"
    xmlns:tns="http://testuri.org"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://testuri.org">

  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://testuri.org">
      <xsd:complexType name="ItemArray">
        <xsd:complexContent>
          <xsd:extension base="SOAP-ENC:Array">
            <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Item[]"/>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element name="text" type="string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="getItems"/>
  <message name="getItemsResponse">
    <part name="getItemsReturn" type="tns:ItemArray"/>
  </message>

  <portType name="TestServicePortType">
    <operation name="getItems">
      <input message="tns:getItems"/>
      <output message="tns:getItemsResponse"/>
    </operation>
  </portType>

  <binding name="TestServiceBinding" type="tns:TestServicePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getItems">
      <soap:operation soapAction="http://testuri.orgTestServiceAction"/>
        <input/>
        <output>
          <soap:body namespace="http://testuri.org" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        </output>
    </operation>
  </binding>

  <service name="TestServiceService">
    <port name="TestServicePort" binding="tns:TestServiceBinding">
      <soap:address location="http://linuxsrv.home/~dmitry/soap/soap_server.php"/>
    </port>
  </service>

</definitions>
